@media only screen and (min-width: 576px) and (max-width: 768px){
.mail_id{
    margin: 0 0 8px 0;
}
.header_top .header_inner{
    padding: 0;
}
.ht_right {
    width: 70%;
}
.logo{
    width: auto;
    padding: 0;
}
.logo a{
    padding-left: 20px;
}
.header_middle .ht_right{
    padding: 28px 30px 28px 0;
}
form{
    margin-bottom: -30px;
}
input{
    font-size: 14px;
    padding: 4px 10px 4px 12px;
}
.fa-magnifying-glass{
    font-size: 16px;
}
.menu li a{
    font-size: 12px;
}
iframe{
    height: 27rem;
    margin-bottom: 30px;
}
.banner_content{
    flex-direction: column;
}
.banner_bottom{
    width: 50%;
    margin-bottom: 24px;
}
.hire_img, .hire_img.sales, .hire_img.services{
    width: auto;
    height: auto;
    margin-inline-start: auto;
}
.sellers_content{
    width: 50%;
}
.seller_bg.sb_left, .seller_bg.sb_right{
    margin: 0 auto 15px;
}
.industry_bottom{
    flex-direction: column;
}
.industry_lef, .industry_rig{
    width: 100%;
}
.industry_bg{
    padding: 40px 0 120px;
}
.company_inner{
    display: flex;
    flex-direction: column;
}
.company_inner h2{
    width: 86%;
    font-size: 28px;
    line-height: 38px;
}
.company_link{
    width: 40%;
    margin: 0 auto 20px;
}
.company_link:nth-child(3){
    width: 46%;
}
.footer_inner{
    width: 50%;
}
}

@media only screen and (min-width: 769px) and (max-width: 992px){
.ht_left, .ht_right{
    width: 50%;
    justify-content: space-between;
}
.mail_id{
    margin: 0 0 8px 0;
}
.header_top .header_inner{
    padding: 8px 0;
}
.logo{
    width: 250px;
    padding: 0;
}
.logo a{
    padding-left: 20px;
}
.header_middle .ht_right{
    padding: 28px 30px 28px 0;
}
form{
    margin-bottom: -30px;
}
input{
    font-size: 14px;
    padding: 4px 10px 4px 12px;
}
.fa-magnifying-glass{
    font-size: 16px;
}
.menu li a{
    font-size: 12px;
}
iframe{
    height: 27rem;
}
.banner_bottom h2{
    font-size: 20px;
}
.banner_bottom p{
    font-size: 10px;
    line-height: 20px;
}
.seller_bg.sb_left:nth-child(1), .seller_bg:nth-child(4){
    margin-left: 0;
}
.sellers_content h2{
    font-size: 14px;
    font-weight: 700;
}
.sellers_content:nth-child(4) h2{
    padding-left: 16px;
}
.industry_lef{
    width: 40%;
}
.industry_lef li {
    padding: 14px 58px;
}
.industry_bg p, .industry_bg li{
    width: 84%;
}
.industry_bg li {
    width: 98%;
    padding: 2px 38px;
}
.industry_bg li{
    font-size: 10px;
}
.industry_rig{
    width: 60%;
}
.industry_bg{
    padding: 40px 0 126px;
}
.company_inner h2{
    font-size: 30px;
    line-height: 40px;
}
.footer_para p, .footer_inner p{
    width: 78%;
    font-size: 12px;
    line-height: 22px;
}
.ft_img{
    width: 150px;
    margin-bottom: 20px;
}
.fa-cc-visa{
    font-size: 40px;
}
}

@media only screen and (min-width: 993px) and (max-width: 1200px){
.ht_left{
    width: 38%;
}
.mail_id{
    margin: 0 12px 0 0;
}
.ht_right{
    margin: 0 0 0 0;
}
.sellers_content:nth-child(4) h2{
    padding-left: 20px;
}
.industry_bg li {
    width: 72%;
    list-style: none;
    padding: 2px 10px;
    margin: 0 auto;
    position: relative;
}
.industry_bg li::before{
    content: "";
    width: 4px;
    height: 4px;
    bottom: 35%;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
}
.industry_bg li:nth-child(2)::before{
    bottom: 42%;
}
.industry_bg li:nth-child(3)::before{
    bottom: 66%;
}
.company_inner h2{
    width: 66%;
}
.footer_inner:nth-child(3){
    padding-left: 26px;
}
}